* {
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
        margin: 0;
}

body {
    background-color: #eef1ff;
    color:black;
}

#hamburger {
    display: none;
}

.createE {
    margin-top: 80px;
}

.times {
    display: block;
}

label {
    display: block;
    margin: 6px;
} 

.start, .end {
    display: inline-block;
    width: 40%;
    padding: 14px;
    padding-left:0;
    margin: 8px 20px;
    margin-left: 0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#drop_zone {
    border: 1px solid #ccc;
    background-color: white;
    max-width: 75%;
    height: 250px;
    text-align: center;
    color: #808080;
}

button[type=submit] {
    background-color: #444b8b;
    color: white;
    padding: 14px 24px;
    margin: 14px 8px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    float: right;
}
  
button[type=submit]:hover {
    background-color: #393d63;
}

#save {
    color: black;
    background-color: #bcc2f1;
}

#save:hover {
    background-color: #a2a6ba;
}

.fa {
    height: 60px;
    color: #3e468e;
    text-shadow: 2px 2px 3px #f0f0f0;
    margin-left: 16px;
}

#dragFile {
    margin-top: 85px;
    margin-left: 0;
}

/* navbar style*/
.topnav {
    background-color: #3e436f;
    color: #3e436f;
    color: rgb(245, 245, 238);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
float: left;
color: rgb(245, 245, 238);
text-align: center;
padding: 22px 20px;
text-decoration: none;
font-size: 14px;
}

#title {
    float: left;
    margin: 16px 20px;
    padding-left: 16px;
    font-size: 24px;
}

.topnav a:focus {
    color: #80b1e0;
}

@media (max-width: 598px) {

    #pages {
        display: none;
    }
    #hamburger {
        display: inline;
        position: fixed;
        right: 0;
    }
    .fa-bars {
        color: rgb(245, 245, 238);
        text-shadow: none;
    }
    
}


.flex-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1;
}

.card-container {
  display: flex;
  flex-basis:100%;
  flex: 1;
  flex-wrap: wrap;
  justify-content:center;
}


.sidebar {
    background-color: #bcc2f1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;

}

.form-container {
    margin-left: 12px;
}


.fa-save {
    display: block;
    margin-top: 80px;
    margin-left: 16px;
    margin-right: 20px;
}

.fa-angle-double-left {
    display: block;
        height: 60px;

    text-shadow: 2px 2px 3px #3e468e;
    margin-left: 16px;
    margin-top: 80px;
    margin-left: 16px;
    margin-right: 20px;
}